<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Enclosures</h1>

            <table class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th>Animal Type</th>
                    <th>Type</th>
                    <th>Capacity</th>
                    <th>Keeper</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="enclosure: ${enclosures}">
                    <td th:text="${enclosure.species.name}" />
                    <td th:text="${enclosure.type}" />
                    <td th:text="${enclosure.capacity}" />
                    <td th:text="${enclosure.zookeeper.name}"></td>
                    <td><a th:href="@{/deleteEnclosure/{id}(id=${enclosure.id})}" type="button" class="btn btn-danger">Delete</a></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>